colorama==0.3.7
Cython==0.27.3
future
ipython
loguru==0.4.1
matplotlib
numba==0.49.1
numpy==1.21.0
opencv-python==4.2.0.32
pandas
pillow
pycocotools
pylint
scikit-image
scipy==1.2.1
shapely==1.7.0
tensorboard
torch==1.1.0
torchvision==0.3.0
tqdm
wget
yacs
yapf==0.28.0
