colorama==0.3.7
Cython==0.27.3
future
ipython
loguru==0.4.1
matplotlib==3.0.0
numba==0.45.0
numpy==1.16.0
opencv-python==4.2.0.32
pandas
pillow
pycocotools
pylint
scikit-image
scipy==1.2.1
shapely==1.7.0
tensorboard
torch==1.4.0
torchvision==0.5.0
# the most conservative version of requirements file
#   with many restrictions that forces using certain versions of packages
tqdm
wget==3.2
yacs
yapf==0.28.0
